---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TopSection from "../../components/TopSection.astro";
import BtnMakro from "../../components/BtnMakro.astro";
import { supabase } from "../../lib/supabaseClient.js";

export async function getStaticPaths() {
  const { data: allEvents, error } = await supabase
    .from("event_test")
    .select("slug");

  if (error) {
    console.error("Fejl ved hentning af slugs:", error);
    return [];
  }

  const paths = allEvents.map((event) => ({
    params: { slug: event.slug },
  }));

  return paths;
}

const { slug } = Astro.params;

const { data: event, error } = await supabase
  .from("event_test")
  .select("id, name, excerpt, description, date, slug, image_url")
  .eq("slug", slug)
  .single();

if (error) {
  console.error("Fejl ved hentning af event:", error);
} else {
  console.log("Event data:", event);
}
---

<BaseLayout>
  <!-- brødkrummesti -->
  {
    event && (
      <nav aria-label="breadcrumb" class="text-sm mb-4">
        <ul class="flex space-x-2">
          <li>
            <a href="/events">Events</a>
            <span> /</span>
          </li>
          <li class="text-opacity-10">{event.name}</li>
        </ul>
      </nav>
    )
  }

  {
    event ? (
      <>
      <!-- Tilføj en H1 her -->
      <h1 class="text-2xl font-bold mb-4">{event.name}</h1>
        <TopSection
          title={event.name}
          text={`${event.excerpt}\n ${event.description}\n Dato: ${event.date}`}
          textextra={`Dato: ${event.date}`}
          makrocontent="tilbage"
          makrohref="/events"
        >
          <img
            src={event.image_url || ""}
            alt={event.slug}
            class="w-full h-full object-cover"
          />
        </TopSection>
        <section>
          <div class="flex items-center justify-center pt-14 pb-8">
            <img
              src="/grafik/stjerne2.svg"
              alt="stjerne"
              class="sm:max-w-20 max-w-16"
            />
          </div>
        </section>
      </>
    ) : (
      <p>Ingen event fundet</p>
    )
  }
</BaseLayout>
